<html>
<body>
<h1>hello world</h1>
<% for (let i = 0; i < items.length; i++) { %>
    <ul>
        <li> <%= items[i].category %> </li>      
        <li> <%= items[i].type %> </li>  
        <li> <%= items[i].brand %> </li>  
        <li> <%= items[i].color %> </li>  
        <li> <%= items[i].size %> </li>
        <li><a href="/items/<%= items[i].size %>">View item details</a></li>
        <li><a href="/category %>">View Categories</a></li>

    </ul>
    <% } %>
</body>
</html>