<html>
<body>
<h1>hello world</h1>
    <ul>
        <li> <%= item.category %> </li>      
        <li> <%= item.type %> </li>  
        <li> <%= item.brand %> </li>  
        <li> <%= item.color %> </li>  
        <li> <%= item.size %> </li>
    </ul>
</body>
</html>